* {
    font-family : 'Work Sans', sans-serif;
    background-color:rgb(253, 252, 251);
}

body {
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

.grid-container {
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr;
    grid-template-rows: 0.3fr 1.7fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "icon-div moon-wines nav-bar"
      "side-carousel wine-image wine-specifics"
      "wine-form-div . favorites";
  }


  .icon-div {
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
      grid-area: icon-div;
      padding: 5px;

  }

  #moon-wines {
    /* background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png"); */
    grid-area: moon-wines;
    /* display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; */
    font-size: 400px;
  }

 



  .logo {
    height: 15vh;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    
  }

  #nav-bar {
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    grid-area: nav-bar;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

  }

  #side-carousel {
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    grid-area: side-carousel;
    overflow-y: scroll;
    scrollbar-color: white;
    height: 100vh;
    width: 15vw;
    align-items: center;
    text-align: center;
    padding: 5px;
  }

  #side-carousel::-webkit-scrollbar {
      display: none;
  }

  #side-carousel img {
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    border: none;
    border-radius: 10px;
    padding: 5px;
    width: 160px;
    height: 180px;
    box-shadow:1px 1px red;
    transition: transform .2s;
  }

  #side-carousel img:hover {
    /* background-color: red; */
    transform: scale(1.1);
  }

  #wine-image {
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    grid-area: wine-image;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px;
    /* box-shadow: 1px 2px rgb(245, 115, 115) */

  }

  #wine-specifics {
    
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    grid-area: wine-specifics;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    color: red;
  }
  
  .try {
    width: 300px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -100px;
  }

  #wine-form-div {
    grid-area: wine-form-div;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 17vw;
    height: 53vh;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: red;
    box-shadow: red;
    color: red;
    border-radius: 25px;
    padding: 25px;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  }

  textarea {
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    border-radius: 10px;
  }

  input {
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    border-radius: 10px;
  }


  #favorites {
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    grid-area: favorites;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #varietal-form {
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  }

  #wine-image img {
    height: 55vh;
    width: 35vw;
    border-radius: 10px;
    box-shadow:1px 1px red;
  }

  ul, li {
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    list-style-type: none;
    color: red;
    font-weight: bold;
  }

.delete-button {
  font-size : 40px;
  padding: 0;
  border: none;
  background: none;

}

#fav-button {
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

#fav-button button {
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  font-size : 30px;
  padding: 0;
  border: none;
  background: none;
}

.coupon {
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  border: 5px dotted black; /* Dotted border */
  width: 60%;
  border-radius: 15px; /* Rounded border */
  margin: 0 auto; /* Center the coupon */
  max-width: 500px;
}

.container {
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  padding: 2px 16px;
  background-color: white;
}


.promo {
  background: white;
  padding: 3px;
}

.expire {
  color: red;
}

.fav-h2 {
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

.new-wine-form {
  display: block;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  height: 30vh;
  width: 12vw;
}

.add-wine-h4 {
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

label {
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

h1 {
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size : 40px;
}

h2 {
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

h3 {
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  padding: 0;
}

h4 {
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  padding-top: 0px;
}

